In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Load data

In [3]:
borderCrossing = pd.read_csv("Border_Crossing_Entry_Data.csv")

In [4]:
borderCrossing['Date'] = pd.to_datetime(borderCrossing['Date'])
borderCrossing['year'] = borderCrossing['Date'].apply(lambda x: x.year)
borderCrossing.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,year
0,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicle Passengers,1414,2020
1,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicles,763,2020
2,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Empty,412,2020
3,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Full,122,2020
4,Alcan,AK,3104,US-Canada Border,2020-02-01,Trucks,545,2020